<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    
    <title>$title$ - willj.dev</title>
  </head>

  
  <body>
    <header>
      <h1>
        <a id="header-root" href="https://www.willj.dev">willj.dev</a>
        <span class="header-sep">/</span>
        $if(page-dirs)$
        $for(page-dirs)$
        <a href="$cumulative-dir$">$current-dir$</a>
        <span class="header-sep">/</span>
        $endfor$
        $endif$
        <span id="header-title">$title$</span></h1>
    </header>
    <main>
      $body$
    </main>
    <footer>
      <span id="built-with">Built with <a href="https://jaspervdj.be/hakyll">Hakyll</a></span>
      <span class="footer-divider">|</span>
      <span id="hosted-by">Hosted by <a href="https://pages.github.com">GitHub Pages</a></span>
    </footer>
  </body>

</html>
