<h2 id="welcome">Welcome!</h2>
$body$
<h2 id="projects">Programming Projects</h2>
<div id="programming-projects" class="project-container">
  $for(programming-projects)$
  <div id="$project-id$-project" class="card project-card">
    <div class="card-title">
      <h3>
        <a href="https://github.com/willj-dev/$project-id$">$project-title$</a>
      </h3>
    </div>
    <div class="card-content">$blurb$</div>
  </div>
  $-endfor$
</div>
<h2 id="writing">Writing Projects</h2>
<div id="writing-projects" class="project-container">
  $for(writing-projects)$
  <div id="$project-id$-project" class="card project-card">
    <div class="card-title">
      <h3>
        <a href="/$project-id$/">$project-title$</a>
      </h3>
    </div>
    <div class="card-content">$blurb$</div>
  </div>
  $-endfor$
</div>