<div id="index-container">
  <div id="index-content">
    <h2 id="welcome">Welcome!</h2>
    $body$
    <h2 id="projects">Projects</h2>
    <div id="project-container">
      $for(projects)$
      <div id="$project-id$-project" class="card project-card">
        <div class="card-title">
          <h3>
            <a href="/$project-id$">$project-title$</a>
          </h3>
        </div>
        <div class="card-content">$blurb$</div>
      </div>
      $-endfor$
    </div>
  </div>
  $if(project-contents)-$
  <h2 id="project-contents">Contents</h2>
  $partial("templates/project-contents.html")$
  $-endif$
</div>
