@use 'colors';

body {
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  margin: 0;

  #dark-mode, #light-mode {
    padding: 0.5em 1em;
    cursor: pointer;
    width: 90px;
    text-align: center;
  }

  &.dark-mode {
    #dark-mode { display: none; } // don't show dark mode toggle in dark mode

    @include colors.apply-base16-colors(colors.$base16-tomorrow-night);
  }

  &.light-mode {
    #light-mode { display: none; } // don't show light mode toggle in light mode

    @include colors.apply-base16-colors(colors.$base16-tomorrow);
  }

  header {
    flex: 0 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-family: 'Noto Sans', sans-serif;

    #header-path {
      margin-left: 32px;

      display: flex;
      flex-flow: row wrap;
      align-items: center;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .header-element {
      margin-right: 1em;
    }

    .header-fill {
      flex: 1 1 auto;
    }

    .header-sep {
      margin: 0 8px;
    }
  }

  main {
    padding: 0 32px;
    flex: 1 0 auto;
    align-items: flex-start;
    justify-content: stretch;

    font-family: 'Noto Serif', serif;

    .card {
      // this shadow spec is stolen from MDC cards: https://material.io/components/cards
      box-shadow:
        0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0px rgba(0, 0, 0, 0.14),
        0 1px 3px 0px rgba(0, 0, 0, 0.12);
    }

    p {
      max-width: 48em;
    }
  }

  footer {
    flex: 0 0 auto;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 1em 32px;

    font-family: 'Noto Sans', sans-serif;

    .footer-divider {
      margin: 0 1em;
    }

    .footer-fill {
      flex: 1 0 2em;
    }

    @media (max-width: 425px) {
      flex-direction: column;

      .footer-element {
        margin-bottom: 0.5em;
      }

      .footer-divider, .footer-fill {
        display: none;
      }
    }
  }
}
