@use 'colors';

body {
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    margin: 0;

    &.dark-mode {
        background-color: colors.$solarized_base03;
        color: colors.$solarized_base0;

        #dark-mode { display: none; } // don't show dark mode toggle in dark mode
        #light-mode {
            padding: 1em;
            background-color: colors.$solarized_base02;
            cursor: pointer;
        }

        #header-root, #header-title {
            color: colors.$solarized_base01;
        }
    }

    &.light-mode {
        background-color: colors.$solarized_base3;
        color: colors.$solarized_base00;

        #light-mode { display: none; } // don't show light mode toggle in light mode
        #dark-mode {
            padding: 1em;
            background-color: colors.$solarized_base2;
            cursor: pointer;
        }

        #header-root, #header-title {
            color: colors.$solarized_base01;
        }

    }

    a:link {
        color: colors.$solarized_blue;
    }

    a:visited {
        color: colors.$solarized_violet;
    }

    header {
        flex: 0 0 auto;
        
        display: flex;
        align-items: center;
        justify-content: flex-start;

        font-family: 'Computer Modern Sans', sans-serif;

        #header-path {
            margin-left: 32px;

            a {
                text-decoration: none;
                color: colors.$solarized_base1;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .header-element {
            margin-right: 1em;
        }

        .header-fill {
            flex: 1 1 auto;
        }

    }

    main {
        padding-left: 32px;
        flex: 1 0 auto;
        align-items: flex-start;
        justify-content: stretch;

        font-family: 'Computer Modern Serif', serif;
    }

    footer {
        flex: 0 0 auto;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 1em 32px;

        font-family: 'Computer Modern Sans', sans-serif;

        .footer-divider {
            margin: 0 1em;
        }

        .footer-fill {
            flex: 1 1 auto;
        }
    }
}
