
.project-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 50em;

  .project-card {
    margin: 0.5em;
    width: 24em;
    min-width: 256px;
    min-height: 256px;

    .card-title {
      padding: 0 2em;
    }

    .card-content {
      padding: 0 2em 2em 2em;
    }
  }

  @media (max-width: 425px) {
    flex-direction: column;
    align-items: stretch;

    .project-card {
      margin: 0;
      width: auto;
      margin-bottom: 1em;
    }
  }
}
